@font-face {
    font-family: 'CustomFont';
    src: url('/PixelPurse/PixelPurse/assets/fonts/ZtgathaSemibold-OVaxA.ttf');
    font-weight:bolder;
    font-style:normal;
}

/* body title*/
body h1{
    margin-top: 70px;
    font-family: 'CustomFont', sans-serif;
    color: rgb(0, 140, 255);
}

body h5{
    margin-left: 105px;
    font-weight: 400;
    font-size: 18px; 
}

body .btn-custom-getstarted {
    margin-left: 150px;
    background-color: rgb(0, 140, 255);
    color: white;
}

body .btn-custom-learn {
    background-color: white; 
    color: rgb(0, 140, 255); 
    border-color: rgb(0, 140, 255)
}

/*line separator babyyyeehh*/
.custom-hr {
    height: 2px;
    background-color: rgb(0, 140, 255);
}

/*featured users card*/

.card-text {
    font-size: 13px;
}

.card-body {
    background-color: rgb(0, 140, 255); /* Example of a custom color using hexadecimal value */
    color: white; /* Set text color to white for better contrast */
}

.icon-sm {
    width: 18px;
    height: 18px;
    
}


/* Customized scrollbar */
.overflow-auto::-webkit-scrollbar-track {
    background-color: transparent;
}
.overflow-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* hover, change scrollbar thumb color */
.overflow-auto::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 140, 255);
}

/*scrollbar buttons */
.overflow-auto::-webkit-scrollbar-button {
    display: none;
}

/*scrollbar width and height */
.overflow-auto::-webkit-scrollbar {
    width: 4px; /* crollbar width */
    height: 7px; /* scrollbar height */
}

.section {
    flex: 1;
    padding: 20px;
}

.section h3 {
    font-size: 18px;
}

.section p {
    font-size: 14px;
}

/*--------------------*/

/* Override default margin for navbar */
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-nav .nav-link {
    font-size: 20px;
    margin-right: 10px;
  }

  /* Popup login form */
  .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
  }
  .login-form {
        text-align: center;
    }

    .login-form .form-label {
        font-size: 16px;
        text-align: left;
        margin-left: 15;
    }

    .login-form .form-control {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .login-form .btn-primary {
        font-size: 18px;
        padding: 10px 20px;
    }



  

  /* Semi-transparent overlay */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    }


    
/* Body content styling */
    .body-content {
        padding: 30px;
    }

    .body-content h1 {
        font-size: 70px;
        margin-bottom: 20px;
    }




/*SMALL SCREEN*/
    @media (max-width: 768px) {
        
        .body-content h1{
            margin-top: 20px;
            font-size: 45px;
            margin-bottom: 20px;
        }


        .image-grid {
            grid-template-columns: repeat(2, 1fr); /* 2 columns yeah*/
        }

        body h5{
            margin-top: 30px;
            margin-left: 30px;
            font-weight: 400;
            font-size: 18px; 
        }
        
        body .btn-custom-getstarted {
            margin-left: 55px;
            background-color: rgb(0, 140, 255);
            color: white;
        }

        .hr {
            margin-top: 10px !important;
        }

        body h2 {
            font-size: 20px;
        }
    }
